.adminPage {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    height: 87vh;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    height: 100%;
    background-color: #333232;
}

.menuItem {
    width: 95%;
    height: 80%;
    font-size: 200%;
    background-color: #d3d3d3;
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
    color: #ffe66d;
    font-weight: 1200;
}

.menuItem:hover {
    color: #333232;
    background-color: #ffe66d;
    font-size: 220%;
}

.selectedPage {
    height:100%;
    border-radius: 50px;
    font-weight: 1200;
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: #333232;
    background-color: #d3d3d3;
    font-size: 260%;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.05s;
    cursor: initial;
}

.newUserPage {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.userTypesContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
}
.newUserType{
    width: 95%;
    height: 80%;
    background-color: #d3d3d3;
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
    color: #ffe66d;
    font-weight: 1200;
}
.selectedType{
height: 100%;
width: 100%;
background-color: white;
color: #333232;
font-size: 120%;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}
.newUserForm{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: white;
}
.newUserInputs{
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}
.inputTitle{
    align-self: flex-end;
}
.newUserInput{
    width: 100%;
    height: 70px;
    font-size: 150%;
}
.addUserBtn {
    cursor: pointer;
    width: 70%;
    transition: 0.3s;
    background-color: seagreen;
    height: 50px;
    font-size: 150%;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-items: center;
}

.addUserBtn:hover {
    width: 80%;
    font-size: 210%;
}