body{
  background-color: #d3d3d3;
  margin: 0px;
  width: 100vw;
}
#root{
  width: 100vw;
  height: 100vh;
}
.header {
  background-color: #333232;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  justify-items: self-start;
  align-items: center;
  height: 13vh;
}
.logo{
  width: 13vh;
  height: 13vh;
}
.userInfo{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.userType{
  color: #ffe66d;
}
.userName{
  color: #ffe66d;
}
.userContainer{
  width: 100%;
  height: 86vh;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .logo{
    width: 11vh;
    height: 11vh;
  }

  .header {
   position: fixed;
    height: 11vh;
    z-index: 11;
  }
  .userContainer{
   top: 12vh;
   padding-bottom: 200px;
   bottom: 20px;
  }
}